{% extends "layout.html" %}
{% block title %}
    Add Data
{% endblock %}

{% block main %}

<script src="/static/js/selector.js"></script>
<h1>Add a song to the database</h1>
<form action="/repository/add" enctype=multipart/form-data method="post">
    <div class="uploadtype">
        <select id="datatype" name="datatype" class="form-control">
            <option>Select an option:</option>
            <option value="chsong">Clone Hero Song</option>
            <option value="osusong">Osu Song</option>
            <option value="osuskin">Osu Skin</option>
            <option value="osureplay">Osu Replay</option>
        </select>
    </div>
    <br>
    <div class="chsong select">
        <div class="form-group">
            <input id="chsong-name" autofocus class="form-control" name="chsong-name" placeholder="Song Name" type="text">
        </div>
        <div class="form-group">
            <input id="chsong-artist" autofocus class="form-control" name="chsong-artist" placeholder="Song Artist" type="text">
        </div>
    </div>

    <div class="osusong select">
        <div class="form-group">
            <input id="osusong-name" autofocus class="form-control" name="osusong-name" placeholder="Song Name" type="text">
        </div>
        <div class="form-group">
            <input id="osusong-artist" autofocus class="form-control" name="osusong-artist" placeholder="Song Artist" type="text">
        </div>
    </div>

    <div class="osuskin select">
        <div class="form-group">
            <input id="osuskin-name" autofocus class="form-control" name="osuskin-name" placeholder="Skin Name" type="text">
        </div>
    </div>

    <div class="osureplay select">
        <div class="form-group">
            <input id="osureplay-name" autofocus class="form-control" name="osureplay-name" placeholder="Map Name" type="text">
        </div>
    </div>

    <div hidden id="fileuploadblock" class="form-group">
        <input id="uploadedfile" autofocus class="form-control" name="uploadedfile" type="file">
    </div>
    <br>
    <button id="submit" class="btn btn-primary" type="submit">Add</button>
    {% if error %}
        <br>
        <small class="errmsg">Please fill in all the boxes.</small>
    {% endif %}
</form>
{% endblock %}