{% extends "layout.html" %}

{% block title %}
    Data List
{% endblock %}

{% block main %}
{% if data_dict %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Kind</th>
            <th scope="col">Artist</th>
            <th scope="col">Upload Date</th>
            <th scope="col">Uploader</th>
            <th scope="col">Download</th>
        </tr>
    </thead>
    <tbody>
        {% for data in data_dict %}
        <tr class="data">
            <td scope="row">{{ data['id'] }}</td>
            <td>{{ data['name'] }}</td>
            <td>{{ data['type'] }}</td>
            <td>{{ data['artist'] }}</td>
            <td>{{ data['uploaded'] }}</td>
            <td>{{ data['username'] }}</td>
            <td><a href="{{ url_for('files', filename=data['id'] + ' - ' + data['artist'] + ' - ' + data['name'] +'.zip')}}"><img src="{{ url_for('static', filename='img/download.gif') }}" height="50px"></a></img></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <h4>No data found!</h4>
{% endif %}
{% endblock %}