{% extends "layout.html" %}

{% block title %}
    Repository
{% endblock %}

{% block main %}
{% if data_dict %}
<!--TODO: Pagination and search-->
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Kind</th>
            <th scope="col">Artist</th>
            <th scope="col">Upload Date</th>
            <th scope="col">Uploader</th>
            <th scope="col">Download</th>
        </tr>
    </thead>
    <tbody>
        {% for clonehero in data_dict %}
        <tr class="data">
            <td scope="row">{{ clonehero['id'] }}</td>
            <td>{{ clonehero['name'] }}</td>
            <td>{{ clonehero['type'] }}</td>
            <td>{{ clonehero['artist'] if clonehero['artist'] else 'No Data' }}</td>
            <td>{{ clonehero['uploaded'] }}</td>
            <td>{{ clonehero['username'] }}</td>
            <td><a href="{{ url_for('files', filename=clonehero['id'] + '-' + clonehero['artist'] + '-' + clonehero['name'] +'.zip')}}"><img src="{{ url_for('static', filename='img/download.gif') }}" height="50px"></a></img></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <h4>No data found!</h4>
{% endif %}
{% endblock %}