{% extends "layout.html" %}

{% block title %}
    Song List
{% endblock %}

{% block main %}
{% if song_data %}
<style>
    .table {
        border: 1px solid;
    }
    tr.data:hover {
        background-color: #4b443b;
    }
</style>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Artist</th>
                <th scope="col">Upload Date</th>
                <th scope="col">Uploader</th>
                <th scope="col">Download</th>
            </tr>
        </thead>
        <tbody>
            {% for song in song_data %}
            <tr class="data">
                <td scope="row">{{ song['id'] }}</td>
                <td>{{ song['name'] }}</td>
                <td>{{ song['artist'] }}</td>
                <td>{{ song['uploaded'] }}</td>
                <td>{{ song['user_id'] }}</td>
                <td><a href="{{ url_for('files', filename=song['id'] + ' - ' + song['artist'] + ' - ' + song['name'] +'.zip')}}"><img src="{{ url_for('static', filename='img/download.gif') }}" height="50px"></a></img></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h4>No songs found!</h4>
{% endif %}
{% endblock %}